.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	font-weight: 500;
}

.rows {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}
