.status_box {
	padding: 0.2rem 0.5rem;
	border-radius: 0.5rem;
}

.status_accepted {
	background-color: #d4f8d3;
}

.status_progress {
	background-color: #ede7fb;
}

.status_rejected {
	background-color: #fbe7e9;
}

.status_unknown {
	background-color: #ecebeb;
}
